Repository VirtualAgentics/coderabbit-conflict-resolver, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, core, analysis, handlers, strategies, integration, cli, config, tests, ci, dependencies, security, coderabbit, github, python, config-files, development, release

.github/labeler.yml:

# Auto-labeler configuration for CodeRabbit Conflict Resolver
# This file defines labels to automatically apply based on changed files

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'CONTRIBUTING.md', 'SECURITY.md', 'CODE_OF_CONDUCT.md', 'CHANGELOG.md', 'docs/**/*', '.github/SUPPORT.md']

# Core functionality changes
core:
  - changed-files:
      - any-glob-to-any-file: ['src/pr_conflict_resolver/core/**']

# Conflict detection and analysis
analysis:
  - changed-files:
      - any-glob-to-any-file: ['src/pr_conflict_resolver/analysis/**']

# File handlers
handlers:
  - changed-files:
      - any-glob-to-any-file: ['src/pr_conflict_resolver/handlers/**']

# Resolution strategies
strategies:
  - changed-files:
      - any-glob-to-any-file: ['src/pr_conflict_resolver/strategies/**']

# GitHub integration
integration:
  - changed-files:
      - any-glob-to-any-file: ['src/pr_conflict_resolver/integrations/**']

# CLI interface
cli:
  - changed-files:
      - any-glob-to-any-file: ['src/pr_conflict_resolver/cli/**']

# Configuration
config:
  - changed-files:
      - any-glob-to-any-file: ['src/pr_conflict_resolver/config/**', 'pyproject.toml', '.pre-commit-config.yaml', 'setup-dev.sh', 'setup-dev.ps1']

# Testing
tests:
  - changed-files:
      - any-glob-to-any-file: ['tests/**', 'conftest.py']

# CI/CD and workflows
ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**', '.github/dependabot.yml', 'Makefile']

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['requirements*.txt', 'pyproject.toml', 'setup.py']

# Security
security:
  - changed-files:
      - any-glob-to-any-file: ['SECURITY.md', '.github/ISSUE_TEMPLATE/**', 'src/pr_conflict_resolver/integrations/github.py']

# CodeRabbit configuration
coderabbit:
  - changed-files:
      - any-glob-to-any-file: ['.coderabbit.yaml']

# GitHub templates and automation
github:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

# Python specific
python:
  - changed-files:
      - any-glob-to-any-file: ['src/**/*.py', 'tests/**/*.py', 'conftest.py', 'setup.py']

# Configuration files
config-files:
  - changed-files:
      - any-glob-to-any-file: ['.editorconfig', '.gitignore', '.pre-commit-config.yaml', 'pyproject.toml', 'requirements*.txt']

# Setup and development
development:
  - changed-files:
      - any-glob-to-any-file: ['setup-dev.sh', 'setup-dev.ps1', 'Makefile', 'requirements-dev.txt']

# Release and packaging
release:
  - changed-files:
      - any-glob-to-any-file: ['setup.py', 'pyproject.toml', 'CHANGELOG.md', 'LICENSE']

fix: resolve CI security job failures
  .github/CODEQL_SETUP.md
  .github/workflows/security.yml
Labels: ci, github

feat: configure Safety scan with official GitHub Action
  .github/SAFETY_SETUP.md
  .github/workflows/security.yml
  CONTRIBUTING.md
Labels: documentation, ci, github

fix: correct Safety Action configuration
  .github/workflows/security.yml
Labels: ci, github

fix: pin Safety Action to v1.0.1 SHA and simplify configuration
  .github/workflows/security.yml
Labels: ci, github

fix: correct Safety Action failure semantics and vulnerability check logic
  .github/workflows/security.yml
Labels: ci, github

fix: resolve Security workflow warnings and align dependencies
  .github/workflows/security.yml
  pyproject.toml
Labels: config, ci, dependencies, github, config-files, release

fix: add missing documentation dependencies to pyproject.toml
  pyproject.toml
Labels: config, dependencies, config-files, release

chore: add conservative upper bounds to ml extras dependencies
  pyproject.toml
Labels: config, dependencies, config-files, release

ci: add explicit workflow-level permissions to release workflow
  .github/workflows/release.yml
Labels: ci, github
