Repository VirtualAgentics/coderabbit-conflict-resolver, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, core, analysis, handlers, strategies, integration, cli, config, tests, ci, dependencies, security, coderabbit, github, python, config-files, development, release

.github/labeler.yml:

# Auto-labeler configuration for CodeRabbit Conflict Resolver
# This file defines labels to automatically apply based on changed files

# Documentation changes
documentation:
  - README.md
  - CONTRIBUTING.md
  - SECURITY.md
  - CODE_OF_CONDUCT.md
  - CHANGELOG.md
  - docs/**/*
  - .github/SUPPORT.md

# Core functionality changes
core:
  - src/pr_conflict_resolver/core/**

# Conflict detection and analysis
analysis:
  - src/pr_conflict_resolver/analysis/**

# File handlers
handlers:
  - src/pr_conflict_resolver/handlers/**

# Resolution strategies
strategies:
  - src/pr_conflict_resolver/strategies/**

# GitHub integration
integration:
  - src/pr_conflict_resolver/integrations/**

# CLI interface
cli:
  - src/pr_conflict_resolver/cli/**

# Configuration
config:
  - src/pr_conflict_resolver/config/**
  - pyproject.toml
  - .pre-commit-config.yaml
  - setup-dev.sh
  - setup-dev.ps1

# Testing
tests:
  - tests/**
  - conftest.py

# CI/CD and workflows
ci:
  - .github/workflows/**
  - .github/dependabot.yml
  - Makefile

# Dependencies
dependencies:
  - requirements*.txt
  - pyproject.toml
  - setup.py

# Security
security:
  - SECURITY.md
  - .github/ISSUE_TEMPLATE/**
  - src/pr_conflict_resolver/integrations/github.py

# CodeRabbit configuration
coderabbit:
  - .coderabbit.yaml

# GitHub templates and automation
github:
  - .github/**
  - .github/labeler.yml
# Python specific
python:
  - src/**/*.py
  - tests/**/*.py
  - conftest.py
  - setup.py

# Configuration files
config-files:
  - .editorconfig
  - .gitignore
  - .pre-commit-config.yaml
  - pyproject.toml
  - requirements*.txt

# Setup and development
development:
  - setup-dev.sh
  - setup-dev.ps1
  - Makefile
  - requirements-dev.txt

# Release and packaging
release:
  - setup.py
  - pyproject.toml
  - CHANGELOG.md
  - LICENSE

fix: Add division-by-zero guard and improve dependency constraints
  docs/requirements.txt
  pyproject.toml
  requirements-dev.txt
  src/pr_conflict_resolver/analysis/conflict_detector.py
Labels: documentation, analysis, config, dependencies, python, config-files, development, release

fix: Clean up remaining formatting issues
  docs/requirements.txt
  src/pr_conflict_resolver/analysis/conflict_detector.py
Labels: documentation, analysis, python

fix: update GitHub Actions with correct commit SHAs
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Labels: ci, github

fix: update development dependencies with security and compatibility fixes
  .pre-commit-config.yaml
  requirements-dev.txt
Labels: config, dependencies, config-files, development

feat: enhance code quality infrastructure and development workflow
  .cursor/rules/dev-workflow.mdc
  .cursor/rules/python-style.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/type-safety.mdc
  .github/workflows/security.yml
  .pre-commit-config.yaml
  docs/requirements.txt
  src/pr_conflict_resolver/analysis/conflict_detector.py
Labels: documentation, analysis, config, ci, github, python, config-files

fix: update workflow triggers to only run on pull requests
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/security.yml
Labels: ci, github

fix: replace hardcoded return with ValueError for degenerate overlap case
  src/pr_conflict_resolver/analysis/conflict_detector.py
Labels: analysis, python
